<section id="contieneOfertas" class="container-fluid ">
    <div class="row">
        <h2 class="col-12 mb-3 text-center ofertas">Ofertas</h2>
    </div>
    <main id="ofertas">
        <div class="swiffy-slider slider-item-show4 slider-item-show2-sm slider-item-ratio-2x1 slider-nav-round slider-nav-sm slider-nav-visible slider-nav-autoplay slider-nav-autopause slider-indicators-round">
            <ul class="slider-container">
                <%for(let i=0; i < producto.length; i++){%>
                    <%if(producto[i].oferta == 1){%>
                        <li class="m-3">
                            <a href="/tienda/detalle/<%=producto[i].idProductos%>" class="eliminasEstiloLink">
                            <div id=" <%=producto[i].idProductos%>">
                                <div class="card border-0">
                                    <div class="ratio ratio-1x1">
                                        <img src="/images/imgProd/<%=producto[i].imagen%>" class="card-img-top" loading="lazy" alt="...">
                                    </div>
                                    <div class="card-body p-0 pt-2">
                                        <div class="d-flex">
                                            <h3 class="flex-grow-1 h5">
                                                <%=producto[i].nombre%>
                                            </h3>
                                            <p class="px-2">
                                                <%=producto[i].precio%>
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                        <%}}%>

            </ul>

            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>

            <ul class="slider-indicators">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </main>
</section>

<script src="/js/ofertasCarrousel.js"></script>