<%- include ( './partials/head' ); %>
  <!--<link rel="stylesheet" href="/css/login.css">-->
  </head>

  <body class="">
    <%- include ( './partials/header' ); %>
      <%- include ( './partials/contacto' ); %>

        <section class="container ">
          <form action="/user/actualizarPassword/<%= usuario.idUsuarios %>" enctype="application/x-www-form-urlencoded"
            method="post" class="estiloDeCaja" id="formularioActualizaClave">
            <div class="form-group ">
              <label for="emailRegister">E-mail</label>
              <input type="email" name="email" id="email" placeholder="E-mail" value="<%= usuario.email %>"  class="form-control"/>
              <p class="errorEmail erroresRegister"></p>
            </div>
          
            <div class="form-group claveBox">
              <label for="clave">Repetir Contraseña</label>
              <input type="password" name="password" id="clave" placeholder="Contraseña" value="" class="form-control"/>
              <input type="password" name="re-clave" id="re-clave" placeholder="Confirmar contraseña" value="" class="form-control"/>
            </div>
            <button type="submit" class="btn botones btnEditarGuardar">Guardar cambios</button>
          </form>
        </section>


        <%- include ( './partials/footer' ); %></body> 