<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="/css/formularios.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>
                <% if (locals.userLogged) { %>
                    <% if (locals.userLogged.rol=="admin" ) { %>


                        <form action="/tienda/altaProducto" method="post" enctype="multipart/form-data"
                            id="formularioAltaProducto">
                            <h2 class="tituloAlta enfasis">Alta de producto</h2>
                            <div class="row justify-content-between">
                                <div class="form-group col-lg-6 col-md-10">
                                    <label for="nombre">Nombre Producto</label>
                                    <input type="text" id="nombre" class="nombre form-control" name="nombre" min="5"
                                        max="35" value="<%= locals.old && old.nombre ? old.nombre : "" %>">
                                    <p>
                                        <%= locals.errores && errores.nombre ? errores.nombre.msg : "" %>
                                    </p>
                                </div>
                                <div class="form-group col-lg-6 col-md-10">
                                    <label for="precio">Precio del Producto</label>
                                    <input type="number" id="precio" class="precio form-control" name="precio"
                                        value="<%= locals.old && old.precio ? old.precio : "" %>">
                                    <p>
                                        <%= locals.errores && errores.precio ? errores.precio.msg : "" %>
                                    </p>
                                </div>
                                <div class="form-group col-lg-6 col-md-10">
                                    <label for="categoria">Categorias</label>
                                    <select class="form-control categorias" id="categoria" name="categoria">
                                        <option value="0">Elige una categoria</option>
                                        <% for(let i=0; i< categoria.length; i++) { %>
                                            <option value="<%= categoria[i].idCategorias %>" <%=locals.old &&
                                                old.categoria && old.categoria==categoria[i].idCategorias ? "selected"
                                                : "" %>><%= categoria[i].nombreCategoria %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <p>
                                        <%= locals.errores && errores.categoria ? errores.categoria.msg : "" %>
                                    </p>

                                </div>
                                <div class="form-group col-lg-6 col-md-10">
                                    <p>Es una oferta</p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input switch" type="checkbox" role="switch"
                                            id="slideOferta" name="oferta" aria-checked="true" <%=locals.old &&
                                            old.oferta && old.oferta=="1" ? "checked" : "" %>>
                                        <label class="form-check-label" for="slideOferta">¿Es una oferta?</label>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-around">
                                    <div class="form-group px-2 filtros">
                                        <label for="filtro">filtro</label>
                                        <select name="filtro" class="form-control filtrosselect">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="imgProd">Imagen de Producto</label>
                                    <input type="file" class="form-control-file" name="imgProd"
                                        accept="image/png, image/jpeg">
                                    <p>
                                        <%= locals.errores && errores.imgProd ? errores.imgProd.msg : "" %>
                                    </p>
                                </div>
                                <button class="btn botones col-lg-4 col-md-6 ml-auto" id="altaPedidoBtn" type="submit">CREAR</button>
                            </div>
                        </form>

                        <%}else{%>
                            <h3 class="text-center my-5">Usted no posee credenciales validas para acceder a esta
                                sección.</h3>

                            <%}}%>


                                <script>
                                    document.querySelectorAll(".switch").forEach((theSwitch) => {
                                        theSwitch.addEventListener("click", handleClickEvent, true);
                                    });

                                    function handleClickEvent(evt) {
                                        const el = evt.target;

                                        if (el.getAttribute("aria-checked") === "true") {
                                            el.setAttribute("aria-checked", "false");
                                            el.value = 1
                                        } else {
                                            el.setAttribute("aria-checked", "true");
                                            el.value = 0
                                        }
                                    }
                                </script>
                                <script src="/js/buscador.js"></script>
                                <%- include ( './partials/footer' ); %>