<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="/css/formularios.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>
                <% if (locals.userLogged) { %>
                    <% if (locals.userLogged.rol=="admin" ) { %>


                        <section class="container contieneVouchers">
                            <article class="row justify-content-strat">
                                <a href="/altaVoucher" class="btn botones col-lg-3 col-md-10 mt-5 mb-3 btnVoucher ">Nuevo Voucher<i
                                        class="fas fa-plus iconos"></i></a>
                            </article>

                            <div class="row justify-content-start">
                                <%for(let i=0; i< voucher.length;i++){%>
                                    <div class="estiloDeCaja col-lg-3 mx-2 col-sm-10 text-center">

                                        <div class="row ">
                                            <div class="col-lg-10 col-md-12">
                                                <h3 class="nombreVoucher enfasis">Voucher:</h3>
                                                <p class="">
                                                    <%=voucher[i].voucher%>
                                                </p>

                                            </div>
                                            <div class="col-lg-6 col-md-10">

                                                <h3 class="valorVoucher enfasis">Valor:</h3>
                                                <p>
                                                    <%=voucher[i].valor%>%
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-md-10">
                                                <h3 class="fechaVoucher enfasis">Fecha:</h3>
                                                <p>
                                                    <%=voucher[i].fecha%>
                                                </p>
                                            </div>
                                        </div>




                                        <a href="/editVoucher/<%=voucher[i].idVouchers%>"
                                            class="btn botones col-lg-4 col-md-6 ml-auto">Editar
                                            <i class="fas fa-pencil-alt iconos"></i></a>
                                    </div>

                                    <%}%>
                            </div>



                        </section>

                        <%}else{%>
                            <h3 class="text-center my-5">Usted no posee credenciales validas para acceder a esta
                                sección.</h3>

                            <%}}%>


                                <%- include ( './partials/footer' ); %>