<%- include ( './partials/head' ); %>


    <link rel="stylesheet" href="/css/cuenta.css">

    </head>

    <body class="">

        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>

                <section id="miCuenta" class="container ">
                    <article class="row justify-content-between mx-auto">
                        <div id="misDatos" class="col-lg-3 col-md-12">
                            <h3 class="botones titulos">Mis Datos</h3>
                        </div>

                        <div id="misCompras" class="col-lg-3 col-md-12">
                            <h3 class="botones titulos">Mis Compras</h3>
                        </div>

                        <% if (locals.userLogged) { %>
                            <% if (locals.userLogged.rol=="admin" ) { %>

                                <div id="accionesAdmin" class="col-lg-3 col-md-12">
                                    <h3 class="botones titulos">Administración</h3>
                                </div>
                                <%}%>
                                    <%}%>
                    </article>
                </section>
                <section id="comprasHistorial" class="container ocultar ">
                    <h1>Historial de compra</h1>
                    <%for (let i = 0; i < v.length; i++) {%>          
                        <%if (v[i].idUsuarios == locals.userLogged.idUsuarios) {%>                  
                    <article class="row my-5  justify-content-between estiloDeCaja">     
                                <h4 class="col-lg-10 col-md-10">N° Pedido: <%=v[i].pedidoNum%></h4>
                                <h5 class=" col-lg-2 col-md-10 fecha">Fecha: <%=v[i].fecha%></h5>
                                <p class="col-lg-3 col-md-10 totalPrecio ">Improte abonado: <%=v[i].importe%></p>
                                <p class="col-lg-3 col-md-10 totalPrecio ">Productos: <%=v[i].idProductos%></p>
                                <p class=" col-lg-3 col-md-10 fecha">Cantidad de productos: <%=v[i].cantidad%></p>
                                

                                
                    </article>
                    <%}}%>  
               

                    </article>
                </section>


                <section id="datosUsuarios" class="container mostrar estiloDeCaja">

                    <div class="row cajaDatosUsuario">
                        <% if (locals.userLogged) { %>
                            <h1>Bienvenid@
                                <%= locals.userLogged.nombre %>.</h1>
                            <div id="data">
                                <p> Nombre:
                                    <%= locals.userLogged.nombre %>
                                </p>
                                <p> E-mail:
                                    <%= locals.userLogged.email %>
                                </p>
                                <p> Dirección:
                                    <%= locals.userLogged.direccion %>
                                </p>


                            </div>
                            <a href="/user/cuenta/editarPerfil/<%=locals.userLogged.idUsuarios%>" class="botones btn btnCuenta col-md-3 col-sm-5">Modificar datos</a>
                            <a href="/user/cuenta/actualizarPassword/<%=locals.userLogged.idUsuarios%>" class="botones btn btnCuenta col-md-3 col-sm-5">Modificar contraseña</a>
                            <% if (locals.userLogged.rol=="admin" ) { %>
                                <a href="/user/listadoClientes" class="botones btn btnCuenta col-md-3 col-sm-5" aria-disabled="false">Listar clientes</a>
                                <%}%>

                                    <a href="/user/logout" class="nav-link btn btnCuenta text-end col-md-3 col-sm-5">Cerrar sesión<i
                                                class="mx-2 fas fa-sign-out-alt iconosUser "></i></a>


                                    <% } else {%>
                                        <h1>Tenes que estar logueado.</h1>

                                        <%}%>




                    </div>

                </section>

                <section id="adminProductos" class="container ocultar estiloDeCaja">
                    <div class="row justify-content-center">
                        <a href="/tienda/altaProducto" class="botones col-3 btnAdminProd btn "> Ingresar un
                            producto <i class="fas fa-plus iconos"></i></a>

                        <a href="/configBanner" class="botones col-3 btnAdminProd btn ">Banner<i
                                class="fas fa-cogs iconos"></i></a>
                        <a href="/configVoucher" class="botones col-3 btnAdminProd btn ">Voucher<i
                                class="fas fa-cogs iconos"></i></a>
                    </div>
                </section>



                <%- include ( './partials/footer' ); %>