<%- include ( './partials/head'); %>
<link rel="stylesheet" href="css/detalleProducto.css">
</head>

<body class="">
    <%- include ( './partials/header'); %>
    <%- include ( './partials/contacto'); %>

    <!--DETALLE PRODUCTO-->
    <section class="detalleProducto container p-5 m-auto">
        <article class="row justify-content-between estiloDeCaja">
            <div class="col-md-4 col-sm-10 contieneImgProdDetalle">
                <img src="/images/imgProd/<%=producto.imagen%>" alt="" class="imgProductoDetalle img-fluid">
            </div>
           
            <div class="col-md-4 col-sm-10 contenedorDetalleProd">
                <%if(producto.oferta){%>
                    <p class="">Oferta!</p>
                    <%}%>
                <h4><%= producto.nombre%></h4>
                <h4>$<%= producto.precio%></h4>
                <p>Color: <%= producto.color%>, Peso: <%= producto.peso%>, Medidas: <%= producto.medida%></p>
                <p>Categoria: <%= producto.categoria.nombreCategoria %></p>
                
                <form action="/agregarProducto/<%= producto.idProductos %>" method="post" id="formularioAgregarCarrito">
                    <input type="text" name="nombre" value="<%= producto.nombre %>" style="display: none;">
                    <input type="number" name="precio" value="<%= producto.precio %>" style="display: none;">
                    <input type="text" name="categoria" value="<%= producto.categoria %>" style="display: none;">
                    <input type="number" name="peso" value="<%= producto.peso %>" style="display: none;">
                    <input type="text" name="color" value="<%= producto.color %>" style="display: none;">
                    <input type="text" name="medida" value="<%= producto.medida %>" style="display: none;">
                    
                    <button type="submit" class="btn botones mx-2 my-3 float-right ">Agregar<i class="fas fa-cart-plus iconos"></i></button>
                </form>

                <% if (locals.userLogged) { %>   
                <% if (locals.userLogged.rol == "admin") { %>                                
                    <button class="btn botones m-3 float-right "><a href="/tienda/editProducto/<%=producto.idProductos%>" class="eliminasEstiloLink" style="color: rgb(255, 245, 238);">Editar</a><i class="fas fa-cogs iconos"></i></button>
                    <%}%>       <%}%>

                
 
            </div>

        </article>
    </section>


    <%- include ( './partials/footer'); %>ñ