<%- include ( './partials/head' ); %>
  <link rel="stylesheet" href="/css/formularios.css">
  </head>

  <body class="">
    <%- include ( './partials/header' ); %>
      <%- include ( './partials/contacto' ); %>

        <section class="container ">
          <form action="/user/cuenta/editarPerfil/<%= usuario.idUsuarios %>" enctype="application/x-www-form-urlencoded"
            method="post" class="formularioEditPerfil estiloDeCaja row">
            <div class="form-group col-lg-6 col-md-10 ">
              <label for="emailRegister">E-mail</label>
              <input name="email" id="email" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : usuario.email %>"  class="form-control"/>
              <p class="errorEmail erroresRegister"><%= locals.errores && errores.email ? errores.email.msg : "" %></p>
            </div>
            <div class="form-group col-lg-6 col-md-10 ">
              <label for="nombre">Nombre</label>
              <input type="text" placeholder="Nombre" name="nombre" value="<%= locals.old && old.nombre ? old.nombre : usuario.nombre %>" class="form-control"/>
              <p><%= locals.errores && errores.nombre ? errores.nombre.msg : "" %></p>
            </div>
            <div class="form-group col-lg-8 col-md-10 ">
              <label for="direccion">Dirección de entrega</label>
              <input type="text" name="direccion" placeholder="Dirección" value="<%= locals.old && old.direccion ? old.direccion : usuario.direccion %>" class="form-control"/>
              <p><%= locals.errores && errores.direccion ? errores.direccion.msg : "" %></p>
            </div>
            <div class="form-group col-lg-6 col-md-10 ">
              <label for="direccionRegister">Teléfono (opcional)</label>
              <input type="number" name="telefono" value="<%= locals.old && old.telefono? old.telefono: usuario.telefono%>" class="form-control" placeholder="Teléfono"/>
            </div>
            <div class="form-group d-flex   claveBox col-lg-6 col-md-10 ">
              <label for="clave">Contraseña</label>
              <input type="password" name="password" id="clave" placeholder="Contraseña" class="form-control mx-2"/>
              <p><%= locals.errorPassword && errorPassword ? errorPassword : "" %></p>
            </div>
          
            <button type="submit" class="btn botones btnEditarGuardar mx-auto ">Guardar cambios</button>
          </form>
        </section>


        <%- include ( './partials/footer' ); %>