<%- include ( './partials/head' ); %>
<link rel="stylesheet" href="/css/bienvenida.css">
    </head>

    <body class="">
        <%- include ( './partials/header'); %>
      
            <%- include ( './partials/contacto'); %>
                <!--BANNER SLIDE-->
                  <%- include ( './partials/bienvenida'); %>
                <main class="bannersPromociones">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            <%for(let i = 0; i < banner.length; i++){
                            console.log(banner[i])%>
                                <div class="carousel-item active">
                                    <img src="/images/imgBanner/<%=banner[i].banner%>" class="d-block w-100" alt="...">
                                </div>
                                <%}%>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">ANTERIOR</span>
                    </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                    </div>
                </main>
                <!--BARRA INFORMATIVA-->
                <section class="container-fluid">
                    <article class="row filaInformativa">
                        <div class=" col-sm-6 col-lg-3  ">
                            <div class="botoneraInformativa">
                                <img src="/images/envioRapido.png" alt="" class="img-fluid imgBtnInformativa">
                                <p> Envios rápidos</p>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3  ">
                            <div class="botoneraInformativa">
                                <img src="/images/pagos.png" alt="" class="img-fluid imgBtnInformativa">
                                <p> Todos los medios de pagos</p>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3  ">
                            <div class="botoneraInformativa">
                                <img src="/images/tienda.png" alt="" class="img-fluid imgBtnInformativa">
                                <p> Retiro en el local</p>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3  d-none">
                            <div class="botoneraInformativa">
                                <img src="/images/envioRapido.png" alt="" class="img-fluid imgBtnInformativa">
                                <p> Conos retornables</p>
                            </div>
                        </div>
                        <div class=" col-sm-6 col-lg-3  ">
                            <div class="botoneraInformativa">
                                <img src="/images/segura.png" alt="" class="img-fluid imgBtnInformativa">
                                <p> Compra segura</p>
                            </div>
                        </div>
                    </article>
                </section>

                <%- include ( './partials/ofertasCarrousel' ); %>


                    <section id="categorias" class="container-fluid ">
                        <div class="row ">
                            <article id="categoriaEtiquetas" class="col-sm-12  col-lg-4   mt-4">
                                <div>
                                    <form action="/tienda/etiquetas">
                                        <h3 class="titulo">Etiquetas <br>Autoadhesivas</h3>

                                        <button type="submit" class="btn botones mt-4">Ver productos</button>
                                    </form>

                                </div>
                            </article>
                            <article id="categoriaOrgComercio" class="col-sm-12  col-lg-4 mt-3">
                                <div>
                                    <form action="/tienda/organizadores">
                                        <h3 class="titulo">Organiza <br>tu comercio</h3>

                                        <button type="submit" class="btn botones mt-4">Ver productos</button>
                                    </form>
                                </div>
                            </article>
                            <article id="categoriaEmbalaje" class="col-sm-12  col-lg-4 mt-3">
                                <div>
                                    <form action="/tienda/embalajes">
                                        <h3 class="titulo">Productos <br>de embalajes</h3>

                                        <button type="submit" class="btn botones mt-3">Ver productos</button>
                                    </form>
                                </div>
                            </article>

                        </div>
                    </section>

                    <script>
                        window.addEventListener('load', function() {
                            $('#bienvenida').modal('show')
});
</script>
                    <%- include ( './partials/footer' ); %>