<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="/css/estilo.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>
                <% if (locals.userLogged) { %>
                    <% if (locals.userLogged.rol=="admin" ) { %>



                        <section class="container">
                            <div class="row justify-content-between">
                                <%for(let i=0; i<usuario.length; i++){%>
                                    <article class="col-lg-5 col-md-10 mx-2 estiloDeCaja">
                                        <h3>Cliente:
                                            <%= usuario[i].nombre%>
                                        </h3>
                                        <ul>
                                            <li>N° de usuario:
                                                <%= usuario[i].idUsuarios %>
                                            </li>
                                            <li>E-mail:
                                                <%= usuario[i].email %>
                                            </li>
                                            <li>Dirección:
                                                <%= usuario[i].direccion %>
                                            </li>
                                            <li>Teléfono:
                                                <%= usuario[i].telefono %>
                                            </li>
                                        </ul>
                                    </article>
                                    <%}%>
                            </div>
                        </section>





                        <%}else{%>
                            <h3 class="text-center my-5">Usted no posee credenciales validas para acceder a esta sección.
                            </h3>

                            <%}}%>

                                <%- include ( './partials/footer' ); %>