<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="css/nosotros.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>



                <section id="quienesSomos" class="container-fluid">
                    <div class="row">
                        <h4 class="col-10 titulos">Somos clip Shop</h4>
                        <p class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde placeat, harum nesciunt quas dolore dolores voluptate eligendi? Tempora debitis itaque dolorum porro consequuntur? Numquam expedita repellat asperiores
                        </p>
                    </div>
                </section>

                <section class="container-fluid " id="staff">
                    <article class="row justify-content-center">

                        <div class="card mx-2 col-2 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/user_6.jpg" alt="" class="img-fluid">
                            </div>
<<<<<<< HEAD
                            <h3 class="mb-0">Noel</h3>
                            <span> ejecutiva del equipo de marketing </span>
=======
                            <h3 class="mb-0">Noni</h3>
                            <span> Fecha de incorporación al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
>>>>>>> 8695aab76075b581e0f83b14bfd79d238b9a2b50
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>


                        <div class="card mx-2 col-2 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/user_3.jpg" alt="" class="img-fluid">
                            </div>
<<<<<<< HEAD
                            <h3 class="mb-0">Facundo</h3>
                            <span>jefe de producto</span>
=======
                            <h3 class="mb-0">Facu</h3>
                            <span> Fecha de incorporación al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
>>>>>>> 8695aab76075b581e0f83b14bfd79d238b9a2b50
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>


                        <div class="card mx-2 col-2 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/user_2.jpg" alt="" class="img-fluid">
                            </div>
<<<<<<< HEAD
                            <h3 class="mb-0">Dario</h3>
                            <span>jefe de logística </span>
                              <a href="#" class="stretched-link">Linkedin</a>
=======
                            <h3 class="mb-0">Martin</h3>
                            <span> Fecha de incorporación al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
>>>>>>> 8695aab76075b581e0f83b14bfd79d238b9a2b50
                        </div>


                        <div class="card mx-2 col-2 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/user_1.jpg" alt="" class="img-fluid">
                            </div>
<<<<<<< HEAD
                            <h3 class="mb-0">Adrian</h3>
                            <span>CEO</span>
                             <a href="#" class="stretched-link">Linkedin</a>
                        </div>
                    </article>
                </section>
                
                <section class="container " id="galeria">
                    <div class="row justify-content-center mt-5 estiloDeCaja" >
                        <%- include ( './partials/galeriaImagenes' ); %>
                    </div>                 
                </section>




                
<!--
=======
                            <h3 class="mb-0">Jose</h3>
                            <span> Fecha de incorporación al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>
                    </article>
                </section>
>>>>>>> 8695aab76075b581e0f83b14bfd79d238b9a2b50
                <section id="galeria" class="container contiene mt-5">
                    <h2>Galeria de fotos</h2>
                    <main class="gallery">
                        <figure>
                            <img src="/images/user_5.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_5.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                    </main>
                </section>
                -->
                <%- include ( './partials/footer' ); %>