<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="css/nosotros.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>



                <section id="quienesSomos" class="container-fluid">
                    <div class="row">
                        <h4 class="col-12  titulos">¿Quienes somos?</h4>
                        <p class="col-12 ">Clip Shop es una empresa familiar fundada en el 2017, que trabaja tanto
                            productos de embalaje como de ordenamiento del negocio, como por ejemplo: rollos de números,
                            expendedora de números, rollos fiscales, etiquetas térmicas, entre muchos más productos.
                            Una de nuestras características es que realizamos entregas en el día tanto en caba como en
                            gba, al mismo tiempo la tienda es 100% online, dando también la posibilidad de retirar el
                            pedido en nuestras oficinas en caso de que así se prefiera.
                            Nuestro modelo de negocio se basa en incorporar nuevos productos para poder ofrecer mayor
                            variedad y posibilidades de satisfacer la necesidad de nuestros clientes.
                        </p>
                        <h4 class=" col-md-10 mt-4 titulos"> NUESTRA MISIÓN</h4>
                        <P class=" col-md-10"> es lograr que todos los productos sean enviados de manera segura,
                            asegurando que tanto el comerciante como el cliente no sufran las consecuencias de que el
                            producto enviado se vea afectado.</P>
                        <h4 class=" col-md-10 mt-4 titulos">NUESTRA VISIÓN</h4>
                        <P class=" col-md-10"> es que todas las personas tengan la posibilidad de embalar sus productos
                            de manera segura, con un costo accesible, y que se logre tener la información adecuada sobre
                            el correcto embalaje.

                        </P>
                    </div>
                </section>
                <section class="container " id="historiaMascota">
                
                        <h4 class="titulos col-12 ">LA HISTORIA DE CAFER</h4>
                        <div class="parte1 row aos-item" data-aos="fade-up" data-aos-duration="2000">
                            
                          <img src="/images/nosotros/5.png" alt="" class="img-fluid col-4">
                            <p class="col-6">
                                ¡Hola! Soy Caferlyn Jabwiler, pero me me llaman Cafer
                                <br>Mi nombre está formado por las letras de mis creadores (creadores
                                del film stretch Ralph Wiley, jacques Brandenberger)</p>
                        </div>
                        <hr>
                        <div class="parte2 row aos-item" data-aos="fade-up" data-aos-duration="2000">
                            <p class="col-6">Mi característica principal es que soy un film stretch y tengo alas! En Clip Shop los
                                rollos de film llegan volando, se caracterizan por sus envíos rápidos.</p>
                                <img src="/images/nosotros/1.png" alt="" class="img-fluid col-4">
                        </div>
                        <hr>
                        <div class="parte3 row aos-item" data-aos="fade-up" data-aos-duration="2000">
                            <img src="/images/nosotros/4.png" alt="" class="img-fluid col-4">
                            <p class="col-6">Llegué a la empresa en el año 2021 y me convertí en embajador de
                                la marca para hacer que la experiencia de los clientes sea aún
                                más grandiosa</p>
                        </div>
                        <div class="parte3 row aos-item" data-aos="fade-up" data-aos-duration="2000">
                            <p class="col-6">Tengo ciertas habilidades, puedo brindarles información sobre los productos,
                                contarles sus beneficios, acercarles promociones exclusivas y al mismo tiempo,
                                ayudarles con cualquier consulta que se les presente</p>
                                <h3 class="col-7">No olviden seguirnos en nuestras redes sociales para conocernos mejor.</h3>
                        </div>
                        <div>
                            <ul class="list-unstyled d-flex mr-5">
                                <li class="ms-3">
                                    <a class="link-dark redesFooter" href="https://www.tiktok.com/@clipshop.ar"><img src="/images/tiktok.png" alt="" width="35"
                                            height="35"></a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-dark redesFooter" href="https://www.facebook.com/ClipShopPapelera/photos/?ref=page_internal"><img src="/images/FC.png" alt="" width="35"
                                            height="35"></a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-dark redesFooter" href="https://www.instagram.com/clipshopapelera/?hl=es"><img src="/images/ig.png" alt="" width="35"
                                            height="35"></a>
                                </li>
                                <li class="ms-3">
                                    <a class="link-dark redesFooter" href="https://www.youtube.com/@clipshoponline1942"><img src="/images/youtube.png" alt="" width="35"
                                            height="35"></a>
                                </li>
                            </ul>
                        </div>

                   
                </section>

                <section class="container-fluid " id="staff">
                    <article class="row justify-content-center">

                        <div class="card mx-2 col-lg-2 col-md-10 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/nosotros/Noe.png" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0 titulos mt-5">Noel</h3>
                            <span class="mb-5"> ejecutiva del equipo de marketing </span>

                        </div>


                        <div class="card mx-2 col-lg-2 col-md-10 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/nosotros/Facu.png" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0 titulos mt-5">Facundo</h3>
                            <span class="mb-5">jefe de producto</span>

                        </div>


                        <div class="card mx-2 col-lg-2 col-md-10 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/nosotros/Dario.png" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0 titulos mt-5">Dario</h3>
                            <span class="mb-5">jefe de logística </span>

                        </div>


                        <div class="card mx-2 col-lg-2 col-md-10 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/nosotros/Adrian.png" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0 titulos mt-5">Adrian</h3>
                            <span class="mb-5">CEO</span>

                        </div>
                    </article>
                </section>

                <section class="container d-none" id="galeria">
                    <div class="row justify-content-center mt-5 estiloDeCaja">
                        <%- include ( './partials/galeriaImagenes' ); %>
                    </div>
                </section>




                <script>
                    document.querySelector('html').classList.remove('no-js');
                    if (!window.Cypress) {
                      const scrollCounter = document.querySelector('.js-scroll-counter');
              
                      AOS.init({
                        mirror: true
                      });
              
                      document.addEventListener('aos:in', function(e) {
                        console.log('in!', e.detail);
                      });
              
                      window.addEventListener('scroll', function() {
                        scrollCounter.innerHTML = window.pageYOffset;
                      });
                    }
                  </script>
                <%- include ( './partials/footer' ); %>