<%- include ( './partials/head' ); %>
    <!--<link rel="stylesheet" href="/css/login.css">-->
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>

                <section class="container ">
                    <form action="" method="post" class="estiloDeCaja">
                        <div class="form-group ">
                            <h2>Cambiar contrase単a de: <%= locals.email && email ? email : "-@-.com" %></h2>
                        </div>
                        <div class="form-group claveBox">
                            <input type="password" name="password" id="clave" placeholder="Contrase単a" value="" class="form-control" />
                            <p><%= locals.errores && errores.password ? errores.password.msg : "" %></p>
                            <input type="password" name="confirmpassword" id="re-clave" placeholder="Confirmar contrase単a" value="" class="form-control mt-3" />
                            <p><%= locals.errores && errores.confirmpassword ? errores.confirmpassword.msg : "" %></p>
                        </div>
                        <button type="submit" class="btn botones btnEditarGuardar">Cambiar contrase単a</button>
                    </form>
                </section>


                <%- include ( './partials/footer' ); %>
    </body>